@charset 'UTF-8';

/* Slider */
.slick-loading .slick-list {
    background: #fff url('./ajax-loader.gif') center center no-repeat;
}

/* Icons */
@font-face {
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url('./fonts/slick.eot');
    src: url('./fonts/slick.eot?#iefix') format('embedded-opentype'), url('./fonts/slick.woff') format('woff'), url('./fonts/slick.ttf') format('truetype'), url('./fonts/slick.svg#slick') format('svg');
}

/* Arrows */
.slick-prev1 {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 45%;
    left: 31vw;
    display: block;
    width: 43px;
    height: 68px;
    background: url('../images/prev.png');
    z-index: 101;
}

.slick-next1 {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 45%;
    right: 19.5vw;
    display: block;
    width: 43px;
    height: 68px;
    background: url('../images/next.png');
    z-index: 101;
}

@media screen and (max-width: 1900px) {
    .slick-prev1 {
        font-size: 0;
        line-height: 0;
        position: absolute;
        top: 45%;
        left: 31vw;
        display: block;
        width: 43px;
        height: 68px;
        background: url('../images/prev.png');
        z-index: 101;
    }

    .slick-next1 {
        font-size: 0;
        line-height: 0;
        position: absolute;
        top: 45%;
        right: 19.5vw;
        display: block;
        width: 43px;
        height: 68px;
        background: url('../images/next.png');
        z-index: 101;
    }
}

@media screen and (max-width: 1760px) {
    .slick-prev1 {
        font-size: 0;
        line-height: 0;
        position: absolute;
        top: 45%;
        left: 30vw;
        display: block;
        width: 43px;
        height: 68px;
        background: url('../images/prev.png');
        z-index: 101;
    }

    .slick-next1 {
        font-size: 0;
        line-height: 0;
        position: absolute;
        top: 45%;
        right: 17vw;
        display: block;
        width: 43px;
        height: 68px;
        background: url('../images/next.png');
        z-index: 101;
    }
}

@media screen and (max-width: 1650px) {
    .slick-prev1 {
        font-size: 0;
        line-height: 0;
        position: absolute;
        top: 45%;
        left: 28.2vw;
        display: block;
        width: 43px;
        height: 68px;
        background: url('../images/prev.png');
        z-index: 101;
    }

    .slick-next1 {
        font-size: 0;
        line-height: 0;
        position: absolute;
        top: 45%;
        right: 15vw;
        display: block;
        width: 43px;
        height: 68px;
        background: url('../images/next.png');
        z-index: 101;
    }
}
@media screen and (max-width: 1550px) {
    .slick-prev1 {
        font-size: 0;
        line-height: 0;
        position: absolute;
        top: 45%;
        left: 27vw;
        display: block;
        width: 43px;
        height: 68px;
        background: url('../images/prev.png');
        z-index: 101;
    }

    .slick-next1 {
        font-size: 0;
        line-height: 0;
        position: absolute;
        top: 45%;
        right: 13vw;
        display: block;
        width: 43px;
        height: 68px;
        background: url('../images/next.png');
        z-index: 101;
    }
}
@media screen and (max-width: 1440px) {
    .slick-prev1 {
        font-size: 0;
        line-height: 0;
        position: absolute;
        top: 45%;
        left: 26vw;
        display: block;
        width: 43px;
        height: 68px;
        background: url('../images/prev.png');
        z-index: 101;
    }

    .slick-next1 {
        font-size: 0;
        line-height: 0;
        position: absolute;
        top: 45%;
        right: 10.5vw;
        display: block;
        width: 43px;
        height: 68px;
        background: url('../images/next.png');
        z-index: 101;
    }
}
@media screen and (max-width: 1300px) {
    .slick-prev1 {
        font-size: 0;
        line-height: 0;
        position: absolute;
        top: 45%;
        left: 22.5vw;
        display: block;
        width: 43px;
        height: 68px;
        background: url('../images/prev.png');
        z-index: 101;
    }

    .slick-next1 {
        font-size: 0;
        line-height: 0;
        position: absolute;
        top: 45%;
        right: 4vw;
        display: block;
        width: 43px;
        height: 68px;
        background: url('../images/next.png');
        z-index: 101;
    }
}

.slick-prev2 {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 30%;
    left: -5px;
    display: block;
    width: 42px;
    height: 42px;
    background: url('../images/prev1.png');
    z-index: 1;
}

.slick-next2 {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 33%;
    right: -20px;
    display: block;
    width: 42px;
    height: 42px;
    background: url('../images/next1.png');
}

.slick-prev2:hover {
    background: url('../images/prev1_o.png');
}

.slick-next2:hover {
    background: url('../images/next1_o.png');
}

.slick-prev3 {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    left: 25px;
    display: block;
    width: 23px;
    height: 43px;
    background: url('../images/prev2.png');
    z-index: 1;
}

.slick-next3 {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    right: 25px;
    display: block;
    width: 23px;
    height: 43px;
    background: url('../images/next2.png');
}


/* Dots */
.slick-dotted.slick-slider {
    margin-bottom: 30px;
}

.slick-dots {
    position: absolute;
    bottom: -25px;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}

.slick-dots li {
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}

.slick-dots li button {
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}

.slick-dots li button:hover,
.slick-dots li button:focus {
    outline: none;
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
    opacity: 1;
}

.slick-dots li button:before {
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;

    opacity: .25;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
    opacity: .75;
    color: black;
}