@charset "uft-8";

.container {

    width: 1200px;
    margin: 0 auto;
}


input[type="checkbox"] {
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: top;
    cursor: pointer;

    margin-right: 6px;

}



/*---------------cartHeader--------------*/
.cartHeader {
    border-top: 1px solid #eee;
}

.cartHeader .container {
    overflow: hidden;

}

.cartHeader h1 {
    font-size: 38px;
    font-weight: 700;
    letter-spacing: -1px;
    line-height: 56px;
    color: #363636;
    float: left;
    padding: 16px 4px;
    margin-left: 18px;
}

.cartHeader span {
    display: none;
}

.cartHeader ul {
    float: right;

}

.cartHeader ul li {
    display: inline-block;
    padding: 17px 3px;
    color: #ccc;
    margin-top: 14px;
}

.cartHeader ul li:nth-child(1) {
    color: black;
}

/*---------------cartTap--------------*/

.cartTap {
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
}

.cartTap ul li {
    display: inline-block;
    padding: 15px 0 15px;
    margin-right: 24px;
}

.cartTap ul li:nth-child(1) {
    margin-left: 23px;
}

.cartTap ul li:nth-child(2) {
    padding: 0 24px;
}

.cartTap ul li a {
    color: #363636;
    font-weight: 700;
    letter-spacing: -0.7px;
    line-height: 29px;
    font-size: 20px;
    padding: 15px 0;

}

.cartTap ul li a span {
    font-size: 12px;
    line-height: 10px;
    height: 10px;
    width: 10px;
    cursor: pointer;

    color: #363636;
    text-align: center;
    padding: 7px 10px;
    background: #ececec;
    border-radius: 50%;
    margin: 0 8px;
    vertical-align: baseline;
}

/*---------------noneProduct--------------*/

.noneProduct {
    background: #f3f3f3;
}


.noneProduct .container .noneProductInner {
    text-align: center;
    color: #7b7f87;
    height: 165px;
    padding: 250px 0 480px 0;


}

.noneProduct i {
    font-size: 55px;
    margin: 10px 0;
}

.noneProduct button {
    width: 200px;
    padding: 13px 0 12px 0;
    text-align: center;
    background: white;
    border: 1px solid #dddddd;
    margin: 27px 0;
    font-size: 15px;
}


/*-----------innerCont---------*/
.innerCont {
    background-color: #f3f3f3;
}

.innerCont ul {
    padding: 20px 0 20px 8px;

}

.innerCont ul li {
    display: inline-block;
    font-size: 14px;
    letter-spacing: -0.5px;
    line-height: 20px;
    text-align: left;
    color: #7f8590;
}

.innerCont ul li #checkAll {
    margin-left: 14px;
    margin-right: 19px;
}

/*----------cartBasketMinishop---------*/
.cartOption {
    background: #f3f3f3;
    height: auto;
    padding-bottom: 100px;
}

.cartOption:nth-child(2) {
    margin-top: -200px;
}

.cartOption .container {

    background: #f3f3f3;

    overflow: hidden;
}

.cartOption .cartBasketWrap {
    float: left;
    width: 70%;
    height: auto;
}


.cartBasketMinishop {
    width: 824px;
    float: left;
    margin: 0px 16px 9px 0;
    height: auto;

    background: #fff;
}

.cartBasketMinishop .cartBasketHeader {
    border-bottom: 1px solid #333333;
    margin: 0 22px;
    padding: 17px 0 19px 0;

}

.cartBasketMinishop .cartBasketHeader .shopName {
    margin: 22px 0 22px 15px;
    font-size: 16px;
    line-height: 24px;

}

.cartBasketMinishop .orderList {
    background: #fff;
    padding-top: 20px;

    font-size: 12px;
    border-bottom: #dedede;
    display: list-item;
    margin: 0 22px;
    overflow: hidden;
}



.cartBasketMinishop .orderList img {
    width: 80px;
    height: 80px;
    display: inline-block;

    margin: 0 10px;
}

.cartBasketMinishop .unitItemDesc {
    padding-bottom: 20px;
    display: inline-block;
}

.cartBasketMinishop .unitItemDesc .itemName {
    font-size: 15px;
    margin-bottom: 10px;
    width: 200px;
    display: inline-block;
    vertical-align: text-top;
}

.cartBasketMinishop .itemQtyWrap {
    display: inline-block;
    margin: 0 40px;
    vertical-align: text-top;
}

.cartBasketMinishop .unitItemDesc .itemTitle .itemQtyWrap i {
    width: 21px;
    height: 21px;
    line-height: 21px;
    border: 1px solid #bebebe;
    border-radius: 50%;
    text-align: center;

}

.cartBasketMinishop .unitItemDesc i {
    cursor: pointer;
}

.cartBasketMinishop .unitItemDesc .itemTitle input[type="number"] {
    width: 30px;
    height: 21px;
    text-align: center;
    -webkit-appearance: none;
    border: 1px solid #ccc;
    margin: 0 2px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/*.cartBasketMinishop .unitItemDesc .itemTitle .itemPrice {
  
    text-align: right;

    float: right;

}*/

.cartBasketMinishop .unitItemDesc .itemTitle .coupon {
    width: 67px;
    height: 27px;
    border: 1px solid #ccc;
    vertical-align: baseline;
    margin-left: 40px;

}

.cartBasketMinishop .unitItemDesc .itemTitle {

    width: 630px
}



.cartBasketMinishop .unitItemDesc .itemTitle strong {
    font-size: 18px;
    line-height: 27px;
    vertical-align: text-top;
    float: right;

}

.cartBasketMinishop .unitItemDesc .itemTitle .textUnit {
    font-size: 15px;
    text-align: right;
    vertical-align: text-top;
    line-height: 27px;
    float: right;

}

.pcClose,
.pcTextUnit,
.pcTextValue {
    display: block;
}

.mobClose,
.mobTextUnit,
.mobTextValue {
    display: none;
}

.cartBasketMinishop .unitItemDesc .itemTitle .close,
.smileDelivery .off {
    font-size: 20px;
    margin-left: 5px;
    padding-top: 4px;
    float: right;
    text-align: right;
    vertical-align: text-top;
}

.cartBasketMinishop .unitItemDesc .itemTitle .priceDesc {
    display: block;
    margin-top: 2px;
    color: #a4a9b0;
    text-align: right;

}


.cartBasketMinishop .unitItemDesc .itemOption span {
    color: #91949a;

    font-size: 12px;
}

.cartBasketMinishop .orderListSecond .unitItemDesc .itemOption br {
    display: none;
}

.cartBasketMinishop .orderListSecond .unitItemDesc .itemOption .optionName {
    color: #2e8de5;
    font-size: 15px;
    font-weight: 700;
}

.cartTotal {
    background-color: #f8f9fa;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 15px 52px 22px 54px;
}

.cartTotal .subSec {
    display: inline-block;
    width: 161px;

    text-align: center;
}

.cartTotal .subSec:nth-child(1) {
    text-align: left;
    width: 160px;
}

.cartTotal .subTotal {
    display: inline-block;

    text-align: right;
}

.cartTotal .equals {
    margin-right: 3px;
}

.cartTotal .subSec .label {
    font-size: 12px;
    line-height: 17px;
    color: #a4a9b0;
    margin-bottom: 6px;
    display: block;
    vertical-align: middle;

}

.cartTotal .subSec .textValue {
    font-size: 18px;
    line-height: 17px;
    display: inline-block;
    vertical-align: text-top;
}

.cartTotal .subSec .textUnit {
    font-size: 15px;
    line-height: 15px;
    display: inline-block;
    vertical-align: text-top;
    margin-top: 1px;
}

.cartTotal .subSec i {
    vertical-align: middle;
    font-size: 20px;
    padding-bottom: 20px;
}

.cartTotal .discount .textValue,
.discount .textUnit {
    color: #23c72e;
}

/*---------order-----------*/
.order {
    width: 360px;
    margin-bottom: 22px;
    background: white;
    padding: 0 22px;
    float: right;

    display: block;
}

.order .text {}

.order .orderDelivery {
    line-height: 60px;
    float: right;
    color: #7f8590;
}

.order .orderTitle {
    line-height: 60px;
    color: #1e1e1e;
    border-bottom: 1px solid #333333;
}

.order .orderInfo {
    font-size: 14px;
    border-bottom: 1px solid #333333;
    padding-top: 20px;
}

.order .orderInfo ul li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 6px;
}

.order .orderInfo ul li .label {
    color: #7f8590;
    float: left;
    font-size: 14px;
}

.order .orderInfo ul li p {
    font-size: 15px;
}

.order .orderInfo ul .orderDiscount .textValue,
.order .orderInfo ul .orderDiscount .textUnit {
    color: #23c72e;
}

.order .orderSummary {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
    padding-top: 20px;
}

.order .orderSummary .label {
    font-size: 16px;
    margin-top: 6px;

}

.order .orderSummary .textValue {
    font-size: 30px;
}

.order .orderSummary p .textUnit {
    vertical-align: super;

}


.order .orderAction {
    background-color: #2e8de5;
    color: #fff;
    width: 316px;
    height: 64px;
    font-size: 22px;
    margin: 22px 0;
    display: block;
}

.orderBottom {
    display: none;
}





.wrap {
    display: block;
}

header {
    width: 1200px;
    margin: 0 auto;
}

.con {
    width: 100%;
    position: absolute;
    z-index: 1000;
    left: 0;
}

.boxHead {
    height: 113px;
    position: relative;
}

.boxHead form {
    width: 554px;
    display: inline-block;
}

.boxHead form fieldset {
    width: 554px;
}

.boxHead form fieldset input {
    width: 554px;
    height: 48px;
    border: 2px solid #197efa;
    border-radius: 30px;
    padding: 7px 14px 7px 24px;
    margin-top: 40px;
    letter-spacing: .5px;
    outline: 0;
}

.boxHead form fieldset button {
    position: relative;
}

.boxHead .link {
    display: inline-block;
    position: absolute;
    top: 35px;
    right: 0px;
}

.boxHead .link a {
    margin: 8px;
}

.btnSearch {
    position: absolute;
    right: 23px;
    top: -18px;
    width: 22px;
    height: 22px;
    padding: 5;
}

.boxNavigation {
    height: 60px;

}

.boxNavigation .menuSub {
    margin-left: 10px;
    display: inline-block;
}

.boxNavigation a {
    line-height: 32px;
    font-size: 16px;
    color: #000;
    display: inline-block;
    padding: 10px;
    letter-spacing: -1px;
}

.boxNavigation a.gold {
    color: #ac824c;
}

.login {
    display: inline-block;
    float: right;
    margin-right: 10px;
    margin-top: 15px;
}

.login a {
    color: #777;
    letter-spacing: -1px;
    padding: 0px;
    line-height: 32px;
    font-size: 14px;
}

.login a:last-of-type {
    color: #777;
    padding: 0px;
    line-height: 32px;
    font-size: 14px;
    letter-spacing: normal;
}

.login a::before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 10px;
    background-color: #ddd;
    vertical-align: middle;
    margin: 0 8px 0 8px;
}

.login a:first-of-type::before {
    content: none;
}

.menuAll {
    position: relative;
    width: 224px;
    height: 60px;
    background-color: #fff;
    letter-spacing: -1px;
    font-size: 18px;

    color: #000;
    padding: 17px 0 20px;
    line-height: 21px;
    text-align: left;
}

.menuAll::before {
    content: "";
    display: inline-block;
    width: 26px;
    height: 21px;
    margin: -4px 11px 0 23px;
    vertical-align: middle;
    background: url('../images/btnHamberger-black.png')no-repeat;
    background-size: 28px auto;

}

.menuAll img {
    display: none;
}

.mainSlide {
    height: 400px;
    border-top: 1px solid #d6d6d6;
    border-bottom: 1px solid #e5e5e5;
}

.mainSlide .inner {
    width: 1200px;
    height: 400px;
    position: relative;
    margin: 0 auto;
}

.navbar {
    position: absolute;
    top: -1px;
    left: 0;
    background: #0abb26;
    width: 224px;
    height: 400px;
}

.navbar a {
    font-size: 15px;
    color: white;
    text-align: left;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid #5acf39;
    font-weight: 400;
    width: 100%;
    height: 44.4px;
    letter-spacing: -1px;
}

.dropdown {
    display: block;
    font-size: 16px;
    color: #fff;
    font: inherit;
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    width: 976px;
    height: 400px;
    left: 224px;
    top: -89px;
    z-index: 10;
    border: 1px solid #cecece;
    border-left: none;
    background: #fff;
    color: #000;
}

.dropdown-content-brand {
    display: block;
    top: 0;

}



.navbar a:hover,
.dropdown:hover a {
    background: #fff;
    color: #33b011;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.column {
    float: left;
    width: 20%;
    padding: 30px;
    background: white;
    height: 330px;
    border-right: 1px solid #d1d1d1;
}

.column h3 {
    color: black;
    font-size: 14px;
    margin-bottom: 6px;
}

.dropdown .column a {
    float: none;
    display: block;
    color: #848484;
    padding: 7px 0;
    text-decoration: none;
    text-align: left;
    border: 0;
    font-size: 14px;
}

.dropdown .column a:hover {
    text-decoration: underline;
    color: #848484;
}

.row::after {
    content: "";
    clear: both;
}

.menuSum img {
    width: 327px;
    height: 214px;
    margin: 30px 30px 20px 30px;
    opacity: 1;
    transition: opacity 0.2s;
}

.menuSum span {
    font-family: Gmarket Sans !important;
    font-size: 17px;
    line-height: 27px;
    letter-spacing: -1px;
    color: #222;
    margin-left: 30px;
}

.menuSum p {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -1px;
    color: #777;
    margin-left: 30px;
    display: inline-block;
}

.menuBottom {
    width: 100%;
    height: 68px;
    background: #f8f8f8;
    border-top: 1px solid #eee;
    position: absolute;
    bottom: 0;
    padding-left: 30px;
    padding-top: 9px;
}

.menuBottom span {
    font-size: 14px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: -1px;
    background: transparent;
}

.menuBottom span img {
    margin-top: 18px;
    margin-left: 2px;
}

.menuBottom ul {
    display: inline-block;
    margin-left: 30px;
}

.menuBottom ul li {
    display: inline-block;
}

.navbar .menuBottom ul li a {
    display: inline-block;
    font-size: 14px;
    line-height: 29px;
    color: #067dfd;
    border: 0;
    background: none;
    width: auto;
}

.navbar .menuBottom ul li a:hover {
    text-decoration: underline;
    background: transparent;
}



/* --------------------FOOTER------------------ */
footer {
    width: 100%;
    font-size: 13px;
    background: #FAFAFA
}

footer .main {
    min-width: 1200px;
    width: 1200px;
    margin: 0 auto;
    padding: 10px 0;
}

.footNav {
    width: 1200px;
    padding: 10px 0 30px;
    border-bottom: 1px solid #eee;
}

.footNav li {
    display: inline-block;
    float: left;
    margin-right: 10px;
}

.footNav a {
    color: #555;
}

.footNav li.line {
    color: #ccc
}

.footNav li:nth-child(7) {
    font-weight: 700;
}

.footNav li:last-of-type {
    float: right;
}

.footNav li select {
    width: 150px;
    padding: 3px 0;
    border: 1px solid #eee;
}

.footContainer {
    clear: both;
    width: 100%;
}

.footContent {
    overflow: hidden;
    padding: 15px 0;
    border-bottom: 1px solid #eee;
    line-height: 23px;
    letter-spacing: -0.5px;
}

.footContent .section {
    float: left;
    width: 600px;
}

.footContent .section:nth-child(2) {
    float: right;
}

.footContent .section span {
    display: inline-block;
    margin-bottom: 10px;
    font-weight: 700;
    color: #888;
}

.footContent p {
    color: #888;
}

.footContent > a {
    margin-right: 15px;
    color: #999;
    cursor: pointer;
}

.footContent > span {
    margin-right: 15px;
    color: #999;
}

.footContent .section p > span {
    margin: 0;
    color: #4F8DE6;
}

.footContent .section button {
    margin: 0 3px;
    padding: 1px;
    background: #fff;
    color: #888;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 11px;
}

.footContent i {
    vertical-align: middle;
    color: #777;
}

.footBottom {
    margin: 30px 0;
}

.footBottom p {
    font-size: 12px;
    color: #999;
}

.footBottom span {
    font-size: 12px;
    color: #555;
}

.footBottom button {
    margin-left: 10px;
    color: #777;
    font-size: 12px;
    border-bottom: 0.2px solid #888;
}

.footBottom img {
    display: inline-block;
    margin-top: 3px;
}

.footBottom p:nth-last-child(1) {
    margin-top: 15px;
}

.mobileFooter {
    display: none
}
